<p>Updated
TODAY.
</p>

<h3>Contact Information</h3>

<table class="pwcv">
<col class="pwcv_spec" /> <col class="pwcv_content" />
<tr><td>Email</td><td><span class="pwcv_email"><a href="mailto:peter@newton.cx">peter@newton.cx</a></span>
(equivalent to
<span class="pwcv_email"><a href="mailto:pwilliams@cfa.harvard.edu">pwilliams@cfa.harvard.edu</a></span>)</td></tr>
<tr><td>Mobile</td><td>+1 617 922 2689</td></tr>
<tr><td>Post</td>
<td>Harvard-Smithsonian Center for Astrophysics<br />
60 Garden St. MS-20<br />
Cambridge, MA 01238
</td></tr>
</table>

<h3>Education</h3>
<table class="pwcv">
<col class="pwcv_spec" /> <col class="pwcv_content" />
RMISCLIST education cv.generic.frag.html
</table>

<h3>Employment</h3>
<table class="pwcv">
<col class="pwcv_spec" /> <col class="pwcv_content" />
RMISCLIST job cv.generic.frag.html
</table>

<h3>Fellowships and Awards</h3>
<table class="pwcv">
<col class="pwcv_spec" /> <col class="pwcv_content" />
RMISCLIST fellowship,award cv.generic.frag.html
</table>

<h3>Research Interesets</h3>
MARKUP research.html

<h3>Observing Experience</h3>
MARKUP observing.html

<!-- TODO: time allocated -->

<h3>Professional Talks</h3>
<table class="pwcv">
<col class="pwcv_spec" /> <col class="pwcv_content" />
RMISCLIST talk cv.generic.frag.html
</table>

<!-- TODO: advising -->

<h3>Other Training</h3>
<table class="pwcv">
<col class="pwcv_spec" /> <col class="pwcv_content" />
RMISCLIST training cv.generic.frag.html
</table>

<h3>Teaching</h3>
<table class="pwcv">
<col class="pwcv_spec" /> <col class="pwcv_content" />
RMISCLIST teaching cv.teach.frag.html
</table>

<h3>Outreach</h3>
<table class="pwcv">
<col class="pwcv_spec" /> <col class="pwcv_content" />
RMISCLIST outreach cv.outreach.frag.html
</table>
