<p>Below is an exhaustive list of my publications, updated as of
TODAY.
First-author works have their <span style="font-weight: bold">titles in
bold</span>; refereed works are marked with a guillemet (»).
My <a href="/~peter/cv/">full CV</a> is also online as
is <a href="/~peter/dissertation/">my dissertation</a>.
CITESTATS citestats.frag.txt
</p>

<table id="pwpubs">
<col id="pwpubs_date" /> <col id="pwpubs_ref" /> <col id="pwpubs_tauth" />
<col id="pwpubs_ads" /> <col id="pwpubs_arxiv" /> <col id="pwpubs_doi" /> <col id="pwpubs_direct" />
PUBLIST all_rev webcite.frag.html
</table>
